<div class="auth-page d-flex justify-content-center align-items-center min-vh-100">
  <div class="container text-center auth-container">
    <h2 class="my-4">{{ 'login' | translate }}</h2>
    <form #loginForm="ngForm" (ngSubmit)="login()" class="needs-validation auth-form" novalidate>
      <div class="mb-3 d-flex flex-column align-items-center">
        <div class="auth-form-field form-floating">
          <input
            type="text"
            class="form-control"
            id="username"
            [(ngModel)]="loginModel.username"
            name="username"
            required
            [ngClass]="{'is-invalid': errorMessageKey}"
            placeholder="{{ 'username' | translate }}"
          />
          <label for="username">{{ 'username' | translate }}</label>
        </div>
      </div>

      <div class="mb-3 d-flex flex-column align-items-center">
        <div class="auth-form-field form-floating">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            class="form-control"
            id="password"
            [(ngModel)]="loginModel.password"
            name="password"
            required
            [ngClass]="{'is-invalid': errorMessageKey}"
            placeholder="{{ 'password' | translate }}"
          />
          <label for="password">{{ 'password' | translate }}</label>
          <button
            type="button"
            class="btn btn-sm password-toggle-btn"
            *ngIf="loginModel.password"
            (click)="togglePasswordVisibility()"
          >
            <i class="bi" [ngClass]="passwordVisible ? 'bi-eye' : 'bi-eye-slash'"></i>
          </button>
          <div *ngIf="errorMessageKey" class="invalid-feedback">
            {{ errorMessageKey | translate }}
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || isLoading">
        <span *ngIf="!isLoading">{{ 'login' | translate }}</span>
        <span *ngIf="isLoading">
          <span class="spinner-border spinner-border-sm me-2" role="status"></span>
          {{ 'loggingIn' | translate }}
        </span>
      </button>
    </form>
    <div class="mt-5 auth-footer">
      <p>
        {{ 'noProfile' | translate }}
        <a routerLink="/register" class="link-primary" style="cursor: pointer;">
          {{ 'register' | translate }}
        </a>
      </p>
    </div>
  </div>
</div>
