<div class="auth-page d-flex justify-content-center align-items-center min-vh-100">
  <div class="container text-center auth-container">
    <h2 class="my-4">{{ 'login' | translate }}</h2>
    <form #loginForm="ngForm" (ngSubmit)="login()" class="needs-validation auth-form" novalidate>
      <div class="mb-3 d-flex flex-column align-items-center">
        <div class="auth-form-field text-start">
          <label for="username" class="form-label">{{ 'username' | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="username"
            [(ngModel)]="loginModel.username"
            name="username"
            required
            [ngClass]="{'is-invalid': errorMessageKey}"
            style="padding: 10px;"
          />
        </div>
      </div>

      <div class="mb-3 d-flex flex-column align-items-center">
        <div class="auth-form-field text-start">
          <label for="password" class="form-label">{{ 'password' | translate }}</label>
          <div class="input-group">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              class="form-control"
              id="password"
              [(ngModel)]="loginModel.password"
              name="password"
              required
              [ngClass]="{'is-invalid': errorMessageKey}"
              style="padding: 10px;"
            />
            <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
              <i class="bi" [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
            <div *ngIf="errorMessageKey" class="invalid-feedback">
              {{ errorMessageKey | translate }}
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
        {{ 'login' | translate }}
      </button>
    </form>
    <div class="mt-5 auth-footer">
      <p>
        {{ 'noProfile' | translate }}
        <a routerLink="/register" class="link-primary" style="cursor: pointer;">
          {{ 'register' | translate }}
        </a>
      </p>
    </div>
  </div>
</div>
