<div class="schedule-grid skeleton-calendar-grid" [style.gridTemplateColumns]="gridTemplateColumns">
  <div class="skeleton-grid-corner"></div>

  <div class="skeleton-day-card" *ngFor="let day of daysArray">
    <app-skeleton width="70%" height="0.7rem"></app-skeleton>
    <app-skeleton width="50%" height="1rem"></app-skeleton>
  </div>

  <ng-container *ngFor="let row of rowsArray">
    <div class="skeleton-time-label">
      <app-skeleton width="80%" height="0.7rem"></app-skeleton>
    </div>

    <app-skeleton
      class="skeleton-slot"
      *ngFor="let day of daysArray"
      width="100%"
      height="100%"
      radius="0.95rem"
    ></app-skeleton>
  </ng-container>
</div>
