<nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
  <div class="container-fluid custom-navbar-container">
    <a class="navbar-brand" routerLink="/pocetna" style="font-weight: bold"
      >Rezervacija sportskih termina</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="/pocetna"
            routerLinkActive="active"
            >Početna</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active"
            >Sportski tereni</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/pretraga-korisnika"
            routerLinkActive="active"
            >Korisnici</a
          >
        </li>
        <li class="nav-item">
          <a 
          class="nav-link"
          routerLink="/grupe"
          routerLinkActive="active">Grupe</a>
        </li>
      </ul>

      <div class="ms-auto text-white" style="font-weight: 500" *ngIf="username">
        <div class="dropdown d-none d-lg-block">
          <a
            class="nav-link d-flex align-items-center"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="ms-2">Dobrodošli, {{ username }}</span>
            <ng-container *ngIf="profileImageUrl; else defaultIcon">
              <img [src]="profileImageUrl" alt="Profilna slika" class="profile-img rounded-circle" />
            </ng-container>
            <ng-template #defaultIcon>
              <div class="default-profile-img">
                <i class="bi bi-person" style="font-size: 1rem; color: #aaa;"></i>
              </div>
            </ng-template>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
              <a class="dropdown-item" routerLink="/moj-profil">Profil</a>
            </li>
            <li><a class="dropdown-item" routerLink="/postavke-profila">Postavke</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="logout()" style="cursor: pointer">Odjava</a>
            </li>
          </ul>
        </div>

        <div class="d-lg-none">
          <span class="nav-link" role="button" (click)="toggleDropdown()">
            Dobrodošli, {{ username }}
            <i class="bi bi-caret-down-fill"></i>
          </span>
          <ul
            class="list-group mt-2"
            [ngClass]="{ 'd-block': isDropdownOpen, 'd-none': !isDropdownOpen }"
          >
            <li class="list-group-item">
              <a class="nav-link" routerLink="/moj-profil">Profil</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link" routerLink="/postavke-profila">Postavke</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link" (click)="logout()" style="cursor: pointer">Odjava</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>


