<app-navbar></app-navbar>
<div class="container mt-4">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-4">{{ 'searchUsersTitle' | translate }}</h2>
      <div class="input-group">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          class="form-control"
          [placeholder]="'enterNameOrUsername' | translate"
        />
        <button class="btn btn-primary" (click)="searchUsers()">
          {{ 'search' | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-4">
        <div class="col" *ngFor="let user of pagedUsers">
          <div class="card h-100 border-0 modern-card user-card">
            <div class="card-body text-center">
              <div class="user-image-container mx-auto">
                <ng-container *ngIf="user.profilePictureUrl && user.profilePictureUrl !== 'default-profile.png'; else defaultPlaceholder">
                  <img
                    [src]="user.profilePictureUrl"
                    [alt]="'profilePicture' | translate"
                    class="rounded-circle user-image"
                  />
                </ng-container>
                <ng-template #defaultPlaceholder>
                  <div class="default-placeholder">
                    <i class="bi bi-person" style="font-size: 2rem; color: #aaa;"></i>
                  </div>
                </ng-template>
                <div class="overlay">
                  <div class="overlay-icons">
                    <ng-container *ngIf="user.username === currentUsername; else otherUserIcons">
                      <div class="icon-square" [title]="'viewProfile' | translate" (click)="viewProfile($event, user)">
                        <i class="bi bi-eye"></i>
                      </div>
                      <div class="icon-square" [title]="'edit' | translate" (click)="editProfile($event, user)">
                        <i class="bi bi-pencil"></i>
                      </div>
                    </ng-container>
                    <ng-template #otherUserIcons>
                      <div class="icon-square" [title]="'viewProfile' | translate" (click)="viewProfile($event, user)">
                        <i class="bi bi-eye"></i>
                      </div>
                      <button
                        type="button"
                        class="icon-square"
                        [title]="'addToGroup' | translate"
                        (click)="openChooseGroupModal($event, user)"
                      >
                        <i class="bi bi-person-plus"></i>
                      </button>
                      <div class="icon-square" [title]="'sendMessage' | translate">
                        <i class="bi bi-chat-dots"></i>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
              <h6 class="mb-2 mt-2">{{ user.fullName }}</h6>
              <small class="text-muted">{{ user.location }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col d-flex justify-content-center">
      <nav [attr.aria-label]="'searchUsersTitle' | translate">
        <ul class="pagination flex-nowrap" style="cursor: pointer;">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="previousPage($event)">{{ 'previous' | translate }}</a>
          </li>
          <li
            class="page-item"
            *ngFor="let page of totalPagesArray"
            [class.active]="page === currentPage"
          >
            <a class="page-link" (click)="goToPage(page, $event)">{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="nextPage($event)">{{ 'next' | translate }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<app-choose-group-modal
  *ngIf="selectedUserForGroupInvite"
  [user]="selectedUserForGroupInvite"
  (close)="closeChooseGroupModal()"
></app-choose-group-modal>
