<app-navbar></app-navbar>
<div class="banner-container">
    <div class="banner-overlay"></div>
    <img src="images/image-asset.jpg" class="banner-image" alt="Banner">
</div>
<div class="container d-flex justify-content-center gap-4 flex-wrap cards-container">
    <div class="card text-center shadow-lg" style="width: 22rem;">
        <img src="images/user.png" class="card-img-top mx-auto mt-3" style="width: 250px;" alt="User Avatar">
        <div class="card-body">
            <p class="card-text">Pronađite korisnike lako i brzo</p>
            <a routerLink="/pretraga-korisnika" class="btn btn-primary">Pretraži korisnike</a>
        </div>
    </div>
    
    <div class="card text-center shadow-lg" style="width: 22rem;">
        <img src="images/tennis-court.png" class="card-img-top mx-auto mt-3" style="width: 250px;" alt="Tennis Court">
        <div class="card-body">
            <p class="card-text">Pronađite sportske termine lako i brzo</p>
            <a routerLink="/search-events" class="btn btn-primary">Pretraži sportske terene</a>
        </div>
    </div>
</div>



